@import "estilos/colores";
@import "estilos/fuentes";
@import "estilos/padding";

@import "componentes/header";
@import "componentes/footer";
@import "componentes/contactos";
@import "componentes/rehabilitacion";
@import "componentes/nosotros";
@import "componentes/tips";

@import "funciones/grid";
@import "funciones/mediaQ";
@import "funciones/extends";


*{
    margin: 0;
    padding: 0;
}
.body{
    background-color: $background-body;
}
.img-rehab {
    width: 100px;
    height: 100px;
}
.list-rehab{
    list-style: none;
}

.segundo-nombre{
    text-align: center center;
    font-family: $segundo-nombre;
    color: $segundo-nombre;
    font-size: nth($font-size, 3 );
    }
    strong{
    color:$olivos;
    }

.main-header{
    h3{
    color: $titulos;
    font-size: nth($font-size, 5);
    }
    .parraf-main{
        text-align: center;
    }
}
