.grid {
    background-color: $background-body;
    color: $parrafos;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: 
    "header"
    "main"
    "footer";

}

.grid-disposition1 {
    grid-area: header;
}

.grid-disposition2 {
    grid-area: main;
}

.grid-disposition3 {
    grid-area: footer;
}