$nombre-principal:yellowgreen;
$navbar: rgb(240, 224, 224);
$segundo-nombre: rgb(30, 34, 44);
$olivos:orange;
$seciones:red;
$titulos: rgb(247, 8, 8);
$parrafos: #c1876b;
$lic: gold;
$background:#3b3a3a;
$nombre-footer: #dfdeb0;
$background-body:#0c6272;
$background-secciones: #81b5db;
$background-footer:#282963;
$nombre-seccion: white;