$nombre-principal:rgb(38, 61, 136);
$segundo-nombre: rgb(30, 34, 44);
$olivos:rgb(228, 124, 5);
$seciones:red;
$titulos: black;
$background:#3b3a3a;
$nombre-footer: #dfdeb0;
$background-footer:#282963;
$nombre-seccion: white;