$nombre-principal:yellowgreen;
$segundo-nombre: rgb(30, 34, 44);
$olivos:orange;
$seciones:red;
$titulos: black;
$background:#3b3a3a;
$nombre-footer: #dfdeb0;
$background-footer:#282963;
$nombre-seccion: white;